/* your code */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
/* table, th, td, thead, tbody {
   border-radius: 6px;
} */
td, th {
  border: 1px solid #1e1a1a;
  text-align: left;
  padding: 8px;
 
}

tr:nth-child(even) {
  background-color: #dddddd;
}
